<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login page</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <p><label>Email: </label> <input type="text" name="email" value="" required />
        <p><label>Password: </label> <input type="text" name="password" value="" required />
        <p><input type="submit" value="Login" />
    </form>
</body>
</html>